/* --- HEADER --- */

header {
    background-color: red;
}

.navegador-cabecera {
    width: 20%;;
    background-color: green;
}

/* --- MAIN --- */

main {
    background-color: lightsteelblue;
}

/* --- class general ---*/
.padding-layout {
    padding-left: 64px;
}

/* --- PRIMERA SECTION ---  */ 

.block-1 {
    background-color: linen;
    display: flex;
}

.column-izquierda {
    background-color: magenta;
}

.column-derecha {
    background-color: lightgreen;
}

.column-izquierda, .column-derecha {
    width: 50%;
}

.caja-1 {
    background-color: black;
}

.caja-2 {
    background-color: white;
}

/* --- EJEMPLO PADDING MARGIN --- */

#flex {
    display: flex;
}

.pepe {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}

.margin {
    margin: 10px;
}
.padding {
    padding: 10px;
}


